.awesome {
    padding: 100px 0;
}

.awesome__header {
    width: 100%;
    max-width: 750px;
    margin: 0 auto 50px;
    text-align: center;
}

.awesome__title {
    color: #212121;
    font-size: 36px;
    font-family: 'Raleway Regular', 'Raleway', serif;
    font-weight: 400;
    margin-bottom: 5px;
}

.awesome__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    margin: 25px auto;
    background-color: #ff8b38;
}

.awesome__text {
    font-size: 14px;
    font-weight: 400;
    color: #86878b;
    line-height: 1.4;
}

.why {
    display: flex;
    flex-direction: row;
}

.why__item {
    padding: 0 10px;
    margin: 30px 0;
    text-align: center;
}

.why__icon {
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
}

.why__title {
    font-size: 20px;
    color: #333333;
    margin-bottom: 15px;
    font-weight: 700;
}

.why__text {
    font-size: 14px;
    font-weight: 400;
    color: #86878b;
    line-height: 1.4;
}