.clients {
    display: flex;
    justify-content: space-between;
}

.clients__item {
    width: 30%;
    max-width: 270px;
}

.clients__text {
    position: relative;
    background-color: #f5f5f5;
    padding: 25px 10px;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 400;
    color: #86878b;
    font-style: italic;
    line-height: 1.4;
    border-radius: 3px;
}

.clients__text:after {
    content: "";
    position: absolute;
    left: 22px;
    bottom: -35px;
    border: 15px solid transparent;
    border-top: 20px solid #f5f5f5;
}

.clients__ppl {
    display: flex;
}

.clients__photo {
    border-radius: 50%;
    width: 100%;
    max-width: 70px;
    height: auto;
}

.clients__info {
    margin-left: 15px;
    padding-top: 10px;
}

.clients__name {
    font-size: 20px;
    font-weight: 700;
}

.clients__prof {
    font-size: 15px;
    font-weight: 400;
    color: #9d9ea1;
}

/* Medium Devices, Desktops */
@media screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media screen and (max-width : 768px) {
    .clients {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .clients__item {
        width: 60%;
        max-width: 400px;
        padding: 0 30px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

/* Extra Small Devices, Phones */
@media screen and (max-width : 480px) {

}