.nav {
    font-family: 'Open Sans Semibold', 'Open Sans Regular', 'Open Sans', serif;
    font-weight: 600;
    font-size: 14px;
}

.nav__link {
    display: inline-block;
    margin: 0 20px;
    position: relative;
    color: #c9c9c9;
    text-decoration: none;
}


.nav__link:hover {
    color: #ffffff;
}

/*Burger*/

.burger {
    display: none;
}

.burger-line {
    background-color: #bdbdbd;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.burger-line::before,
.burger-line::after {
    content: "";
    background-color: #bdbdbd;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.burger-line::before {
    top: 7px;
}

.burger-line::after {
    top: -7px;
}

.burger-nav {
    display: none;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    margin-top: 70px;
    right: 0;
    background: #4d4646;
    z-index: 9999;
}

.sub-menu li a {
    color: #bdbdbd;
    text-decoration: none;
    font-size: 30px;
}

.sub-menu li a:hover {
    color: #ffffff;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Small Devices, Tablets */
@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .burger,
    #submenu:target {
        display: block;
    }

    #submenu:target {
        visibility: visible;
        animation: show .6s ease;
    }
}
