.social {
    position: relative;
    background: #ffffff;
}

.social:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 8px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

.social__content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.social__media {
    width: 100%;
    max-width: 360px;
}

.social__title {
    font-family: 'Open Sans Bold', 'Open Sans Regular', 'Open Sans', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.social__text {
    margin-top: 5px;
    font-family: 'Open Sans Regular', 'Open Sans', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #a4a5a8;
}

.social__links {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
}

.social__links a:hover {
    color: #333333;
}

.social__links a {
    color: #a4a5a8;
}

/* Medium Devices, Desktops */
@media screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media screen and (max-width: 768px) {
    .social__content {
        flex-direction: column;
        align-items: center;
    }

    .social__title {
        text-align: center;
    }

    .social__text {
        margin-bottom: 20px;
        text-align: center;
    }

    .social__links {
        width: 100%;
    }
}

/* Extra Small Devices, Phones */
@media screen and (max-width: 480px) {
    .social__links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .social__links a {
        margin-top: 20px;
        margin-right: 30px;
    }

}