@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*reset*/
@import "reset/reset.css";

/*section*/
@import "section.css";

/*header*/
@import "header.css";

/*Nav*/
@import "nav.css";

/*banner*/
@import "banner.css";

/* Buttons */
@import "buttons.css";

/*Form Section*/
@import "form.css";

/*social Links Section*/
@import "social.css";

/* Tabs Section */
@import "tabs.css";

/*Sub List Section*/
@import "sublist.css";

/*Standard Section*/
@import "standard.css";

/*Awesome*/
@import "awesome.css";

/*Pricing Section*/
@import "pricing.css";

/*Clients*/
@import "clients.css";

/*stylish section*/
@import "stylish_section.css";

/*Contact*/
@import "contact.css";

/*Footer*/
@import "footer.css";


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1px 15px;
}

.full-page {
    overflow: hidden;
}


.scrollup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 150px;
    bottom: 65px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff8b38;
}

.scrollup a {
    color: #f5f5f5;
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .scrollup {
        margin-right: 100px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .scrollup {
        margin-right: 80px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .scrollup {
        margin-right: 20px;
        bottom: 90px;
    }
}


