@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*reset*/
@import "reset.css";

@import "section.css";

@import "media/media.css";

/*header*/
@import "header.css";

/*Nav*/
@import "nav.css";

/*banner*/
@import "banner.css";

/* Buttons */
@import "buttons.css";

/*Form Section*/
@import "form.css";

/*social Links Section*/
@import "social.css";

/* Tabs Section */
@import "tabs.css";

/*Sub List Section*/
@import "sublist.css";

/*Standard Section*/
@import "standard.css";

/*Awesome*/
@import "awesome.css";

/*Pricing Section*/
@import "pricing.css";

/*Clients*/
@import "clients.css";

/*stylish section*/
@import "stylish_section.css";

/*Contact*/
@import "contact.css";

/*Footer*/
@import "footer.css";

.divider {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 1);

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.full-page {
    overflow: hidden;
}


.scrollup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 240px;
    bottom: 64px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff8b38;
}

.scrollup a {
    color: #f5f5f5;
}


@media (max-width: 479px) {
    /*.social__links {*/
    /*    flex-wrap: wrap;*/
    /*    justify-content: center;*/
    /*}*/

    /*.social__links a {*/
    /*    margin-top: 20px;*/
    /*    margin-right: 30px;*/
    /*}*/

    /*.banner__item {*/
    /*    width: 90%;*/
    /*}*/

    /*.banner__title {*/
    /*    font-size: 25px;*/
    /*}*/

    /*.tabs__item {*/
    /*    width: 70px;*/
    /*    height: 70px;*/
    /*}*/

    /*.tabs__img {*/
    /*    width: 100%;*/
    /*    height: auto;*/
    /*}*/

    /*.sub {*/
    /*    padding: 50px 0 0 0;*/
    /*}*/

    /*.sub__item {*/
    /*    margin: 60px 0;*/
    /*}*/

    /*.item__icon {*/
    /*    left: 20%;*/
    /*    top: -20px;*/
    /*}*/

    .item__title {
        margin-left: 45px;
    }

    .item__text {
        margin-left: 45px;
    }

    .section__title {
        font-size: 25px;
    }

    .why__item {
        width: 100%;
    }

    .price__item {
        width: 100%;
    }

    .clients__item {
        width: 100%;
    }
}



