@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700&display=swap');

/*normalize*/
@import "normalize.css";

/*header*/
@import "header.css";

/*Nav*/
@import "nav.css";

/*banner*/
@import "banner.css";

/* Buttons */
@import "buttons.css";

/*Form Section*/
@import "form.css";

/*social Links Section*/
@import "social.css";

/* Tabs Section */
@import "tabs.css";

/*Sub List Section*/
@import "sublist.css";

/*Standard Section*/
@import "standard.css";

/*Awesome*/
@import "awesome.css";

/*Pricing Section*/
@import "pricing.css";

/*Clients*/
@import "clients.css";


.divider {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 1);

}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
























